.tableAroundContainer{
    margin-top: 10;
    margin-left: 60px;
    text-align: center;
    align-items: center;
    
}


  
.header{
    margin-top: 40px;
    text-align: center;
    color: rgb(32, 153, 28);
}
.editButton{
    width: 100px;
    margin-right: 5px;
    border-radius: 8px;
    font-size: small;
    background-color: #3dcc20;
}
.editButton:hover{
    background-color: rgb(21, 119, 1);
}
.deleteButton{
    width: 100px;
    margin-right: 5px;
    border-radius: 8px;
    font-size: small;
    background-color: rgb(206, 22, 22);
}

.deleteButton:hover{
 
    background-color: rgb(139, 2, 2);
}